{% extends "portfolio/header.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid" id="contact">
	<div class="row">
		<div class="container">
			<h2 class="text-center head-pad"><span class="glyphicon glyphicon-phone-alt"></span> Contact me</h2>
			<div class="col-md-6 col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading" style="background: #d7ccc8; color: #000000;">
						<h4 class="panel-title">Mailing Address</h4>
					</div>
					<div class="panel-body" style="background-color: #d7ccc8;">
						<address >
						66 Mohakhali, Dhaka-1212, Bangladesh
				</address>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-sm-6">
		<p class="tb-border text-center"><span class="glyphicon glyphicon-envelope"></span> Email: <strong>mdtislam93@gmail.com</strong></p></br>
		<p class="text-justify">Or, find me on online-social media through given link on Homepage footer area.</p>
	</div>

</div><!--end of conrainer-->
</div><!--end of row-->
</div><!--end of container fluid-->
{% endblock %}