{% extends "portfolio/header.html" %}

{% block content %}
<!--footer starts-->
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<ul class="pull-right social">
				<li><a href="https://facebook.com/touhidul.mti" target="_blank"><i class="fa fa-facebook"></i></a></li>
				<li><a href="https://plus.google.com/+MuhammadTouhidulIslam" target="_blank"><i class="fa fa-google-plus"></i></a></li>
				<li><a href="https://github.com/touhidul-mti" target="_blank"><i class="fa fa-github"></i></a></li>
			</ul>
		</div>
	</div><!--end of container-->
</footer>
<!--footer ends-->
{% endblock %}